/* mint cream: F0F7F4,  Cornflower Blue: 7899D4, Dark Cornflower Blue: 003F88  */

$itemGrow: 1.2;
$duration: 250ms;

html {
    scroll-behavior: smooth;
}



body {
    margin: 0;
    font-family: 'Lato', sans-serif;
    background-color:rgb(0, 0, 0);
    color: rgba(255, 255, 255, 0.872);
    /* background: linear-gradient(to right, #000000 , #23262e); */
    background: #141414;
}
:root {
    --width: #studio-image[max-width];
}

.info-image {
    order: -1;
    display: flex;
    
    
    
    justify-content: center;
    align-items: center;
    
    /* border: yellow solid 4px; */

}

#studio-image {
    width: 90%;
    max-width: 50em;
    box-sizing: border-box;
    box-shadow: -1.4rem -1.2rem rgba(0, 0, 0, 0.3),
                0 0 0 0.4rem #F0F7F4,
                /* 0 0 0 3rem #7899D4; */
                
                
}





.main-logo {
    /* border: solid rgb(210, 227, 20) 1px; */
    max-width: 35em;
    z-index:2;
    margin: 0 auto;
    /* transform: translate(-50%, 2%); pulling half of width and pushing down 2 */
}



/* ==================  Layout   =============================================================== */

.container {
    margin: 0 auto;

}


.container-flex {
    width: 100%;
    /* border: blue solid 5px; */
    max-width: 50em;
    
}

.intro-vid {
    position: relative;
    width: 100%;
    max-height: 100%;
    margin: 0 auto;
    /* border: red solid 2px; */
    z-index: 1;
    display: flex;
}

@media (max-width:50em) {
    .main-logo {
        width: 70%;
    }
}


.section-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 100%;
    height: 100vh;
    /* border: white 2px solid; */
}



.discographySection {
    /* height: 100hv; */
    width: 100%;
    background-color: #fff;
    
    display: flex;
    flex-direction: column;
    
    column-gap: 5%;
    
}



.netflix-wrapper {
    display: grid;
    grid-template-columns: repeat(3, 100%);
    width: 100%;
    height: 60vh;
    border: #1b8bf9 3px solid;
    align-items: center;
    
    
    section {
        width: 100%;
        height: 30%;
        position:relative;
        display: grid;
        grid-template-columns: repeat(5, 1fr);
        border: 4px solid yellow;

        .netflix-item {
            transition: $duration all;
            border: solid red 2px;
            height: 15em;
            

            &:hover {
                margin: 0 5px;
                transform: scale(1.2);
            }

            img {
                height: 15em;
                object-fit: cover;
                width: 100%;
            }
        }

        a {
            position: absolute;
            color: rgb(211, 1, 1);
            text-decoration: none;
            font-size: 6em;
            background:rgb(0, 0, 0);
            width: 1%;
            padding: 20px;
            text-align: center;
            z-index: 1;

            &:nth-of-type(1) {
                top:0; left:0;
                background: linear-gradient(-90deg, rgba(0, 0, 0, 0) 0%, rgba(0,0,0,1), 100%);
            }
            &:nth-of-type(2) {
                top:0; right:0;
                background: linear-gradient(90deg, rgba(0,0,0,0) 0%, rgba(0,0,0,1), 100%);
            }
        }

    } 
}





.small-container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(25rem, 1fr));
}


.discoList {
    color:rgba(0, 0, 0, 0.9);
    border: navy solid 1rem;
    text-align: center;
    margin: 5% 5%;
   
}

.discographyImg {
    width: 10rem;
    height: 10rem;
}



.elementInfo {
    opacity: 1;
    /* border:rgba(23, 26, 29, 0.6) 2px solid; */
    color: black;
}



/* ===================  navigation ================= */

.navbar {
    width: 100%;
    align-items: center;
    display:flex;
    flex-direction: column;
    
    position: fixed;
    z-index: 1;
    background: rgba(0, 0, 0, 0.7);
    
}

nav ul {
    justify-content: center;
    display:flex;
    list-style: none;
    flex-direction: column;
    padding: 0;
}


nav li {
    margin: 0.3em 0;
    
}

nav a {
    margin-left: 0;
    color: white;
    text-decoration: none;
    font-weight: 700;
}

@media (min-width: 555px) {
    nav ul {
        flex-direction: row;
        justify-content: center;
        /* border: white solid 1px; */
        padding: 0;
    }

    nav li {
        margin: 0 1em;
        
    }
}

nav li :hover {
    text-shadow: rgba(255, 255, 255, 0.6) 1px 0 10px;
    border-bottom: solid 3px rgba(255, 255, 255, 0.6);
    padding-bottom: 5px;
    
}

/* ========== LANGUAGE BUTTON 

================ */

.btn {
    z-index: 2;
    position: fixed;
    top: 0.5em;
    left: 90%;
    font-family: "Lato";
    color: #7899d4;
    text-decoration: none;
    text-transform: uppercase;
    /* letter-spacing: 2.8px; */
    background-color: #f0f7f4;
    padding: 1em 1.2em;
    border-radius: 50%;
    box-shadow: 0 0 0.1em 0.1rem rgba(247, 246, 246, 0.872);        /* offset-x | offset-y | blur-radius | spread-radius | color */
    transition: 0.6s cubic-bezier(0.01, 1.69, 0.99, 0.94);
  }
.btn:hover {
    box-shadow: 3px 4.9px 16px rgba(27, 139, 249, 0.6);
    /* letter-spacing: 5px; */
  }
.btn--clicked {
    transition: 0.6s cubic-bezier(0.01, 1.69, 0.99, 0.94);
    padding: 15px 2px;
    width: 50px;
    color: transparent;
    z-index: -10;
  }
  
.color {
    display: block;
    width: 0;
    height: 0;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    position: absolute;
    transition: 0.8s ease;
    border-radius: 50%;
    background-color: transparent;
}
  
.expanded {
    width: 200%;
    padding-bottom: 200%;
    height: auto;
}
  
.color--blue {
    background-color: #1b8bf9;
    transition-delay: 0.25s;
  }
  
.color--orange {
    background-color: #ff6c19;
    transition-delay: 0.5s;
  }
  
.color--green {
    background-color: #41ff9f;
    transition-delay: 0.75s;
  }
  
.color--white {
    background-color: #f9f9f9;
    transition-delay: 1s;
  }



