/* mint cream: F0F7F4,  Cornflower Blue: 7899D4, Dark Cornflower Blue: 003F88  */

$itemGrow: 1.2;
$duration: 250ms;

html {
    scroll-behavior: smooth;
}



body {
    margin: 0;
    font-family: 'Lato', sans-serif;
    
    background-color:rgb(0, 0, 0);
    color: rgba(255, 255, 255, 0.872);
    /* background: linear-gradient(to right, #000000 , #23262e); */
    background: #141414;
    
}
:root {
    --width: #studio-image[max-width];
}

.info-image {
    order: -1;
    display: flex;
    
    
    
    justify-content: center;
    align-items: center;
    
    /* border: yellow solid 4px; */

}

#studio-image {
    width: 90%;
    max-width: 50em;
    box-sizing: border-box;
    box-shadow: -1.4rem -1.2rem rgba(0, 0, 0, 0.3),
                0 0 0 0.4rem #F0F7F4,
                /* 0 0 0 3rem #7899D4; */
                
                
}





.main-logo {
    /* border: solid rgb(210, 227, 20) 1px; */
    max-width: 35em;
    z-index:2;
    margin: 0 auto;
    /* transform: translate(-50%, 2%); pulling half of width and pushing down 2 */
}



/* ==================  Layout   =============================================================== */

.container {
    margin: 0 auto;

}


.container-flex {
    width: 100%;
    /* border: blue solid 5px; */
    max-width: 50em;
    
}

.intro-vid {
    position: relative;
    width: 100%;
    max-height: 100%;
    margin: 0 auto;
    /* border: red solid 2px; */
    z-index: 1;
    display: flex;
}

@media (min:555px) {
    .main-logo {
        width: 70%;
    }
}


.section-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 100%;
    height: 100vh;
    /* border: white 2px solid; */

}

.contact-wrapper {
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    .contact-section {
        width: 100%;
        display: flex;
        margin: 0 auto;
        // align-items: flex-start;
        
        justify-content: space-between;
    
        .contact-container {
            margin: 0 5%;
            width: 22em;
            max-width: 23em;
            border: solid #fff 0.5em;
            border-radius: 3em;
            display: flex;
            flex-direction: column;
            text-align: center;
        }
    }
}


/* ============================== Discography =========================== */

.discographySection {
    font-family: 'Nanum Gothic', sans-serif;
    font-weight: 100;
    /* height: 100hv; */
    width: 100%;
    background-color: #141414;
    color: white;
    display: flex;
    flex-direction: column;
    
    column-gap: 5%;
    
}

.netflix-wrapper {
    // background-color: #f9f9f9;
    width: 60%;
    margin: 0 auto;
    background:linear-gradient(to right, #4BB3FD 4%, #F9B3D1);
    
    color: black;
    height: 80vh;
    // border: yellow 2px solid;
    display: flex;
    flex-direction: column;
    align-items: center;


    /* Main Album-like display */
    .main-display {
        z-index: 2;
        color: white;
        display: flex;
        // border-top: rgba(164, 93, 93, 0.13) 0.1em solid;
        border-left: rgba(0, 0, 0, 0.07) 0.15em solid;
        justify-content: center;
        align-items: center;
        margin: auto 0;
        width: 25em;
        opacity: 1;
        transform: 
                perspective(30em)
                rotateY(8deg) scale(0.93);
        transition: 0.3s ease all;
        box-shadow:
           -0.2em 0.1em 0.3em 0.2em rgba(0, 0, 0, 0.7); /* offset-x | offset-y | blur-radius | spread-radius | color */

        &:hover {       
            cursor: pointer;
            transform:
                perspective(30em)
                rotateY(0) scale(1);
            opacity: 0.3;
            box-shadow:
                -0.1em 0.1em 0.3em 0.2em rgba(0, 0, 0, 0.7);
        }
        

    }

    .netflix-info {
        font-family: 'Nanum Gothic', sans-serif;
        color: #141414;
        display:none;
        font-weight: 700;
        z-index: 1;
        position: absolute;
        
        margin: 10% auto;
        width: 25em;
        height: 20em;
        align-items: center;
        justify-content: space-evenly;
        text-align: center;
        font-size: 1.4rem;
        line-height: 300%;
        // border: greenyellow 2px solid;
    }

    .netflix-list {
        font-weight: 300;
        order: 1;
        display: flex;
        flex-direction: column;
        top: 5%;
        padding: 0;
        // border: white solid 2px;
        width: 100%;
        justify-content: flex-end;
        
        ul {
            display: grid;
            grid-template-columns: repeat(4, auto);
            list-style: none;
            padding: 0;
            border-top: #141414 solid 0.3em;
            justify-content: space-evenly;

            li {
                margin: 0.5em auto;
                
                
                &:hover {
                    transition: 0.2s;
                    transform: scale(1.05);
                    cursor: pointer;
                    
                    
                }
            }
        }
    }
}

@media (max-width: 555px) {
    .netflix-wrapper {
        margin-top: 30%;
        flex-direction: column;
        width: 90%;
        .main-display {
            order: -1;
            max-width: 15em;
            border: blue 2px solid;
            transform:
                perspective(0)

            
        }
        .netflix-info {
            font-family: 'Nanum Gothic', sans-serif;
            color: #141414;
            display:none;
            font-weight: 700;
            z-index: 1;
            position: absolute;
            margin: 8% auto;
            width: 25em;
            height: 10%;
            align-items: center;
            justify-content: space-evenly;
            text-align: center;
            font-size: 1rem;
            // line-height: 300%;
            border: greenyellow 2px solid;
        }
        .netflix-list {
            margin-left: 2%;
            display: flex;
            padding: 0;
            border: white solid 2px;
            height: 100%;
            ul {
                display: flex;
                flex-direction: column;
                list-style: none;
                padding: 0;
                border: rgb(36, 54, 191) solid 1px;
                justify-content: space-evenly;
    
                li {
                    margin: 0.2em auto;

                
                }
            }
        }
    }

    .contact-wrapper {
        display: flex;
        flex-direction: column;
        justify-content: center;
        
        h1 {
            top: 50%;
        }
        .contact-section {
            
            border: solid white 0.2px;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            
        
            .contact-container {
                margin: 1em auto;
                
                width: 15em;
                // height: 50%;
                border: solid #fff 0.4em;
                border-radius: 9%;
                display: flex;
                flex-direction: column;
                text-align: center;
                
                
            }
            
            #contact-kr {
                height: 19em;
            }
            #contact-en {
                height: 19em;
            }
        }

        
    }
    
}


.small-container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(25rem, 1fr));
    
    .discoList {
        
        background: rgba(230, 221, 221, 0.084);
        // border: rgb(245, 245, 245) solid 0.6rem;
        text-align: center;
        margin: 5% 5%;
        
       

        .discographyImg {
            margin-top: 10%;
            border:rgba(171, 171, 171, 0.913) 2px solid;
            border-radius: 3%;
            width: 10rem;
            height: 10rem;
        }


        .elementInfo {
            font-family: 'Nanum Gothic', sans-serif;
            font-weight: 100;
            opacity: 1;
            /* border:rgba(23, 26, 29, 0.6) 2px solid; */
            color: rgba(233, 233, 233, 0.913);
            font-weight: 100;

            p {
                font-size: 0.9em;
            }

        }
    }
}










/* ===================  navigation ================= */

.navbar {
    width: 100%;
    align-items: center;
    display:flex;
    flex-direction: column;
    justify-content: space-between;
    
    position: fixed;
    z-index: 1;
    background: rgba(0, 0, 0, 0.7);
    

    
    
    
}

nav ul {
    justify-content: center;
    display:flex;
    list-style: none;
    // flex-direction: row;
    padding: 0;
}


nav li {
    margin: 0 0.5em;
    
}

nav a {
    margin-left: 0;
    color: white;
    text-decoration: none;
    font-weight: 400;
}

@media (max-width: 555px) {
    nav ul {
        flex-direction: column;
        justify-content: center;
        /* border: white solid 1px; */
        padding: 0;
    }

    nav li {
        margin: 0 1em;
    
    }
}

nav li :hover {
    text-shadow: rgba(255, 255, 255, 0.6) 1px 0 10px;
    border-bottom: solid 3px rgba(255, 255, 255, 0.6);
    padding-bottom: 5px;
    
}

/* ========== LANGUAGE BUTTON 

================ */







.lang-dropdown {
    z-index: 2;
    display:inline-block;

    .selected-lang {
        z-index: 2;
        font-size: 0.7rem;
        display: flex;
        // justify-content: space-between;
        line-height: 2;
        cursor: pointer;
        color: white;
        position: fixed;
        top: 0.5em;
        right: 1%;
        font-family: "Lato";
        /* letter-spacing: 2.8px; */
        background-color: #f0f7f410;
        // padding: 1em 1.2em;
        // border-radius: 50%;
        box-shadow: 0 0 0.1em 0.1rem rgba(247, 246, 246, 0.872);        /* offset-x | offset-y | blur-radius | spread-radius | color */
        transition: 0.6s cubic-bezier(0.01, 1.69, 0.99, 0.94);

        &:before {
            content: '';
            display: block;
            margin-right: 0.3em;
            width: 24px;
            height: 24px;
            background-image: url(https://www.countryflags.io/us/shiny/24.png);
        }
    }
    
}
// .lang-dropdown:hover {
//     box-shadow: 3px 4.9px 16px rgba(27, 139, 249, 0.6);
//     /* letter-spacing: 5px; */
//     }
.lang-dropdown--clicked {
    transition: 0.6s cubic-bezier(0.01, 1.69, 0.99, 0.94);
    padding: 15px 2px;
    width: 50px;
    color: transparent;
    z-index: -10;
    }

.lang-options {
    z-index: 3;

    display: none;
    position: absolute;
    // top: 5%;
    right: 1%;
    margin-top: 1em;
    border: yellow 2px solid;
        
    a {
        display: block;
        position: relative;
        color: white;

        &:hover {
            cursor: pointer;
        }
    }

}
        


.show {
    display: inline-block;
}


/* language switching effect colors */

  
.color {
    display: block;
    width: 0;
    height: 0;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    position: absolute;
    transition: 0.8s ease;
    border-radius: 50%;
    background-color: transparent;
}
  
.expanded {
    width: 200%;
    padding-bottom: 200%;
    height: auto;
}
  
.color--blue {
    background-color: #067df4;
    transition-delay: 0.25s;
  }
  
.color--orange {
    background-color: #fa6610;
    transition-delay: 0.5s;
  }
  
.color--green {
    background-color: #73de09;
    transition-delay: 0.75s;
  }
  
.color--white {
    background-color: #aba1a12e;
    transition-delay: 1s;
  }


/* =========================== */
