/* mint cream: F0F7F4,  Cornflower Blue: 7899D4, Dark Cornflower Blue: 003F88  */
html {
  scroll-behavior: smooth;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  margin: 0;
  font-family: 'Inconsolata', monospace;
  background-color: black;
  color: rgba(255, 255, 255, 0.872);
  /* background: linear-gradient(to right, #000000 , #23262e); */
  background: #141414;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

:root {
  --width: #studio-image[max-width];
}

.info-image {
  -webkit-box-ordinal-group: 0;
      -ms-flex-order: -1;
          order: -1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  /* border: yellow solid 4px; */
}

#studio-image {
  width: 90%;
  max-width: 50em;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-box-shadow: -1.4rem -1.2rem rgba(0, 0, 0, 0.3), 0 0 0 0.4rem #F0F7F4;
          box-shadow: -1.4rem -1.2rem rgba(0, 0, 0, 0.3), 0 0 0 0.4rem #F0F7F4;
}

.main-logo {
  /* border: solid rgb(210, 227, 20) 1px; */
  max-width: 35em;
  z-index: 2;
  margin: 0 auto;
  /* transform: translate(-50%, 2%); pulling half of width and pushing down 2 */
}

/* ==================  Layout   =============================================================== */
.container {
  margin: 0 auto;
}

.container-flex {
  width: 100%;
  /* border: blue solid 5px; */
  max-width: 50em;
}

.intro-vid {
  position: relative;
  width: 100%;
  max-height: 100%;
  margin: 0 auto;
  /* border: red solid 2px; */
  z-index: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

@media (min: 555px) {
  .main-logo {
    width: 70%;
  }
}

.section-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  width: 100%;
  height: 100vh;
  /* border: white 2px solid; */
}

.contact-wrapper {
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.contact-wrapper .contact-section {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0 auto;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.contact-wrapper .contact-section .contact-container {
  margin: 0 5%;
  width: 22em;
  max-width: 23em;
  border: solid #fff 0.5em;
  border-radius: 2em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  text-align: center;
}

/* ============================== Discography =========================== */
.discographySection {
  font-family: 'Nanum Gothic', sans-serif;
  font-weight: 100;
  /* height: 100hv; */
  width: 100%;
  color: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-column-gap: 5%;
          column-gap: 5%;
}

.recent-discography {
  background: -webkit-gradient(linear, left top, right top, from(rgba(233, 4, 4, 0.735)), to(#141414));
  background: linear-gradient(to right, rgba(233, 4, 4, 0.735), #141414);
  height: 100vh;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: wrap row;
          flex-flow: wrap row;
}

.recent-discography .swiper-container {
  width: 40%;
  height: 100%;
  margin: 0 10%;
  left: 0;
}

.recent-discography .swiper-container:hover {
  cursor: -webkit-grab;
  cursor: grab;
}

.recent-discography .swiper-container:active {
  cursor: -webkit-grabbing;
  cursor: grabbing;
}

.recent-discography .swiper-slide {
  text-align: center;
  background: none;
  /* Center slide text vertically */
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.recent-discography .swiper-pagination {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (auto)[4];
      grid-template-columns: repeat(4, auto);
  text-align: center;
  height: 20%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.recent-discography .swiper-pagination-bullet {
  width: 15em;
  height: 1.5em;
  font-weight: 700;
  line-height: 1.6em;
  font-size: 0.7rem;
  color: rgba(0, 0, 0, 0.7);
  opacity: 1;
  background: rgba(255, 255, 255, 0.927);
  -webkit-box-shadow: inset 0.5em 0.5em rgba(0, 0, 0, 0.3);
          box-shadow: inset 0.5em 0.5em rgba(0, 0, 0, 0.3);
  border-radius: 1.9%;
  margin-left: 5em;
}

.recent-discography .swiper-pagination-bullet:hover {
  -webkit-transform: scale(1.04);
          transform: scale(1.04);
}

.recent-discography .netflix-poster {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 60%;
  height: 80%;
  -webkit-transform: perspective(30em);
          transform: perspective(30em);
  -o-object-fit: contain;
     object-fit: contain;
}

.recent-discography .netflix-poster .poster-image {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0 auto;
  height: 80%;
  -o-object-fit: contain;
     object-fit: contain;
  -webkit-box-shadow: -0.6em -0.6em 1em 0.4em rgba(74, 74, 72, 0.3), 0 0 0 1.1em #fffefe, 0 0 0 2.1em black, 4em 2em 0.5em 1em rgba(33, 33, 33, 0.2);
          box-shadow: -0.6em -0.6em 1em 0.4em rgba(74, 74, 72, 0.3), 0 0 0 1.1em #fffefe, 0 0 0 2.1em black, 4em 2em 0.5em 1em rgba(33, 33, 33, 0.2);
}

.recent-discography .netflix-wrapper {
  width: 20%;
  height: 100%;
  margin: 0;
  right: 0;
  color: black;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  /* Main Album-like display */
}

.recent-discography .netflix-wrapper .main-display {
  z-index: 2;
  color: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  border-left: rgba(0, 0, 0, 0.07) 0.15em solid;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: auto 0;
  width: 70%;
  opacity: 1;
  -webkit-transform: perspective(30em) rotateY(8deg) scale(0.93);
          transform: perspective(30em) rotateY(8deg) scale(0.93);
  -webkit-transition: 0.3s ease all;
  transition: 0.3s ease all;
  -webkit-box-shadow: -0.2em 0.1em 0.3em 0.2em rgba(0, 0, 0, 0.7);
          box-shadow: -0.2em 0.1em 0.3em 0.2em rgba(0, 0, 0, 0.7);
  /* offset-x | offset-y | blur-radius | spread-radius | color */
}

.recent-discography .netflix-wrapper .main-display:hover {
  cursor: pointer;
  -webkit-transform: perspective(30em) rotateY(0) scale(1);
          transform: perspective(30em) rotateY(0) scale(1);
  opacity: 0.3;
  -webkit-box-shadow: -0.1em 0.1em 0.3em 0.2em rgba(0, 0, 0, 0.7);
          box-shadow: -0.1em 0.1em 0.3em 0.2em rgba(0, 0, 0, 0.7);
}

.recent-discography .netflix-wrapper .netflix-info {
  font-family: 'Inconsolata', sans-serif;
  text-decoration: line-through;
  color: rgba(255, 254, 254, 0.7);
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  font-weight: 700;
  z-index: 1;
  position: absolute;
  margin: 10% auto;
  width: 25em;
  height: 20em;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  text-align: center;
  font-size: 1.4rem;
  line-height: 300%;
}

.recent-discography .netflix-list {
  font-weight: 700;
  color: rgba(255, 255, 255, 0.699);
  position: relative;
  -webkit-box-ordinal-group: 2;
      -ms-flex-order: 1;
          order: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.recent-discography .netflix-list ul {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (auto)[4];
      grid-template-columns: repeat(4, auto);
  list-style: none;
  padding: 0;
  border-top: #141414 solid 0.4em;
}

.recent-discography .netflix-list ul li {
  margin: 0.6em 1em;
}

.recent-discography .netflix-list ul li:hover {
  -webkit-transition: 0.2s;
  transition: 0.2s;
  -webkit-transform: scale(1.05);
          transform: scale(1.05);
  cursor: pointer;
  color: white;
}

@media (max-width: 1650px) {
  .recent-discography {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
  .recent-discography .netflix-wrapper {
    width: 20%;
    display: none;
  }
  .recent-discography .netflix-wrapper .main-display {
    width: 70%;
    font-size: 0.4em;
  }
  .recent-discography .swiper-container {
    width: 90%;
  }
  .recent-discography .swiper-container .netflix-poster {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin: 0 auto;
    width: 60%;
    height: 80%;
    -webkit-transform: perspective(30em);
            transform: perspective(30em);
    -o-object-fit: contain;
       object-fit: contain;
  }
  .recent-discography .swiper-container .netflix-poster .poster-image {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin: 0 auto;
    height: 80%;
    -o-object-fit: contain;
       object-fit: contain;
    -webkit-box-shadow: -0.6em -0.6em 1em 0.4em rgba(74, 74, 72, 0.3), 0 0 0 1.1em #fffefe, 0 0 0 2.1em black, 4em 2em 0.5em 1em rgba(33, 33, 33, 0.2);
            box-shadow: -0.6em -0.6em 1em 0.4em rgba(74, 74, 72, 0.3), 0 0 0 1.1em #fffefe, 0 0 0 2.1em black, 4em 2em 0.5em 1em rgba(33, 33, 33, 0.2);
  }
}

@media (max-width: 800px) {
  .netflix-wrapper {
    height: 100vh;
    width: 90%;
    margin-top: 30%;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .netflix-wrapper .main-display {
    -webkit-box-ordinal-group: 0;
        -ms-flex-order: -1;
            order: -1;
    max-width: 15em;
    min-width: 250px;
    -webkit-transform: perspective(0);
            transform: perspective(0);
    margin-top: 3%;
  }
  .netflix-wrapper .netflix-info {
    font-family: 'Nanum Gothic', sans-serif;
    color: #141414;
    display: none;
    font-weight: 700;
    z-index: 1;
    position: absolute;
    margin: 8% auto;
    width: 25em;
    height: 10%;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
    text-align: center;
    font-size: 1rem;
  }
  .netflix-wrapper .netflix-list {
    margin-left: 2%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    padding: 0;
    height: 100%;
  }
  .netflix-wrapper .netflix-list ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    list-style: none;
    padding: 0;
    border: #2436bf solid 1px;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
  }
  .netflix-wrapper .netflix-list ul li {
    margin: 0.2em auto;
  }
  .contact-wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    top: 20%;
    height: 100%;
  }
  .contact-wrapper .contact-section {
    margin-top: 20%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .contact-wrapper .contact-section .contact-container {
    margin: 1em auto;
    width: 15em;
    border: solid #fff 0.4em;
    border-radius: 9%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    text-align: center;
  }
  .contact-wrapper .contact-section #contact-kr {
    height: 19em;
  }
  .contact-wrapper .contact-section #contact-en {
    height: 19em;
  }
}

.small-container {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (minmax(25rem, 1fr))[auto-fill];
      grid-template-columns: repeat(auto-fill, minmax(25rem, 1fr));
}

.small-container .discoList {
  background: rgba(230, 221, 221, 0.084);
  text-align: center;
  margin: 5% 5%;
}

.small-container .discoList .discographyImg {
  margin-top: 10%;
  border: rgba(171, 171, 171, 0.913) 2px solid;
  border-radius: 3%;
  width: 10rem;
  height: 10rem;
  -o-object-fit: cover;
     object-fit: cover;
}

.small-container .discoList .elementInfo {
  font-family: 'Nanum Gothic', sans-serif;
  font-weight: 100;
  opacity: 1;
  /* border:rgba(23, 26, 29, 0.6) 2px solid; */
  color: rgba(233, 233, 233, 0.913);
  font-weight: 100;
}

.small-container .discoList .elementInfo p {
  font-size: 0.9em;
}

/* ===================  navigation ================= */
.navbar {
  width: 100%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  position: fixed;
  z-index: 99;
  background: rgba(0, 0, 0, 0.7);
}

nav ul {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  list-style: none;
  padding: 0;
}

nav ul li {
  margin: 0 0.5em;
}

#topButton {
  font-weight: 100;
  font-size: 1rem;
  position: fixed;
  right: 1.4%;
  bottom: 3.4%;
  color: white;
  padding: 0.5em;
  border: solid white 1px;
  border-radius: 20%;
}

#topButton:hover {
  -webkit-transform: scale(1.05);
          transform: scale(1.05);
  -webkit-box-shadow: 0 0 0.04em 0.1em #fffefe;
          box-shadow: 0 0 0.04em 0.1em #fffefe;
}

nav a {
  margin-left: 0;
  color: white;
  text-decoration: none;
  font-weight: 700;
  font-size: 1.5rem;
}

@media (max-width: 555px) {
  nav ul {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    /* border: white solid 1px; */
    padding: 0;
  }
  nav li {
    margin: 0 1em;
  }
}

nav li :hover {
  text-shadow: rgba(255, 255, 255, 0.6) 1px 0 10px;
  border-bottom: solid 3px rgba(255, 255, 255, 0.6);
  padding-bottom: 5px;
}

/* ========== LANGUAGE BUTTON 

================ */
.lang-dropdown {
  z-index: 1;
  display: inline-block;
}

.lang-dropdown .selected-lang {
  z-index: 100;
  font-size: 0.7rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  line-height: 2;
  cursor: pointer;
  color: white;
  position: fixed;
  top: 0.5em;
  right: 2%;
  font-family: "Lato";
  border: none;
  /* letter-spacing: 2.8px; */
  background-color: #f0f7f410;
  -webkit-transition: 0.6s cubic-bezier(0.01, 1.69, 0.99, 0.94);
  transition: 0.6s cubic-bezier(0.01, 1.69, 0.99, 0.94);
}

.lang-dropdown .selected-lang:before {
  content: '';
  display: block;
  margin-right: 0.3em;
  width: 24px;
  height: 24px;
  background-image: url(https://www.countryflags.io/us/shiny/24.png);
}

.lang-dropdown--clicked {
  -webkit-transition: 0.6s cubic-bezier(0.01, 1.69, 0.99, 0.94);
  transition: 0.6s cubic-bezier(0.01, 1.69, 0.99, 0.94);
  padding: 15px 2px;
  width: 50px;
  color: transparent;
  z-index: -10;
}

.lang-options {
  width: 5em;
  z-index: 333;
  font-size: 0.8rem;
  display: none;
  position: absolute;
  right: 0.05vw;
  top: 2em;
  border: #b8b2b2 2px solid;
  border-radius: 6%;
}

.lang-options a {
  display: block;
  position: relative;
  color: white;
}

.lang-options a:hover {
  cursor: pointer;
  background: rgba(171, 171, 171, 0.913);
}

.show {
  display: inline-block;
}

.flex-show {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

/* language switching effect colors */
.color {
  display: block;
  width: 0;
  height: 0;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  position: absolute;
  -webkit-transition: 0.8s ease;
  transition: 0.8s ease;
  border-radius: 50%;
  background-color: transparent;
}

.expanded {
  width: 200%;
  padding-bottom: 200%;
  height: auto;
}

.color--blue {
  background-color: #067df4;
  -webkit-transition-delay: 0.25s;
          transition-delay: 0.25s;
}

.color--orange {
  background-color: #fa6610;
  -webkit-transition-delay: 0.5s;
          transition-delay: 0.5s;
}

.color--green {
  background-color: #73de09;
  -webkit-transition-delay: 0.75s;
          transition-delay: 0.75s;
}

.color--white {
  background-color: #aba1a12e;
  -webkit-transition-delay: 1s;
          transition-delay: 1s;
}

/* =========================== */
/*# sourceMappingURL=style.css.map */